// Primary
$Soft-red: hsl(7, 99%, 70%);
$Soft-blue: #3ebfff;
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%); // (graphic design text)
$Dark-blue: hsl(198, 62%, 26%); // (photography text)
$Dark-moderate-cyan: hsl(168, 34%, 41%); // (footer)

// Neutral
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fraunces', serif;
}

h1 {
    text-transform: uppercase;
    color: $White;
}

img {
    width: 100%;
    background-size: cover;
}

header {
    display: grid;
    grid-template-columns: 1fr;

    position: sticky;
    top: 0;
    z-index: 2;
}

.landing {
    margin-top: -1px;
    h1 {
        position: absolute;
        text-align: center;
        letter-spacing: 0.5rem;
        top: 120px;
        font-size: 40px;
        max-width: 13ch;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: "";
            background-image: url(./../images/icon-arrow-down.svg);
            width: 36px;
            height: 114px;
            z-index: 5;
            position: absolute;
            left: calc(50% );
            transform: translateX(-50%);
            top: 164%;
        }
    }

    img {
        height: 463px;
    }
}

nav {
    background-color: $Soft-blue;
    display: grid;
    grid-template-columns: 135px 1fr;
    padding: 1rem;

    ul {
        display: none;
    }
    
    #hamburger {
        height: 16px;
        width: 20px;
        justify-self: end;
        align-self: center;
    }

}
