// Primary
$Soft-red: hsl(7, 99%, 70%);
$Soft-blue: #3ebfff;
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturated-cyan: hsl(167, 40%, 24%); // (graphic design text)
$Dark-blue: hsl(198, 62%, 26%); // (photography text)
$Dark-moderate-cyan: hsl(168, 34%, 41%); // (footer)

// Neutral
$Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$Very-dark-grayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, button {
    font-family: 'Fraunces', serif;
    color: $Very-dark-desaturated-blue;
}

h1 {
    text-transform: uppercase;
    color: $White;
}

img {
    width: 100%;
    background-size: cover;
    height: 100%;
}

ul > li {
    list-style: none;
}

header {
    display: grid;
    grid-template-columns: 1fr;

    position: sticky;
    top: 0;
    z-index: 2;
}

.landing {
    margin-top: -1px;
    background-color: $Soft-blue;
    h1 {
        position: absolute;
        text-align: center;
        letter-spacing: 0.4rem;
        top: 135px;
        font-size: 40px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: "";
            background-image: url(./../images/icon-arrow-down.svg);
            width: 36px;
            height: 114px;
            z-index: 5;
            position: absolute;
            left: calc(50% );
            transform: translateX(-50%);
            top: 150px;
        }
    }

    img {
        // height: 463px;
        margin-bottom: -3px;
        // max-width: 550px;
        display: block;
        margin: auto;
    }
}

nav {
    background-color: $Soft-blue;
    display: grid;
    grid-template-columns: 135px 1fr;
    padding: 1rem;
    position: relative;

    
    #hamburger {
        height: 16px;
        width: 20px;
        justify-self: end;
        align-self: center;
    }

    ul {
        display: none;
    }

    &.active {
        ul {
            position: absolute;
            width: calc(100% - 2rem);
            background: $White;
            right: 1rem;
            top: 80px;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 2rem 4rem 3rem;
            align-items: center;
            max-width: 420px;

            &::before {
                content: '';
                position: absolute;
                top: -19px;
                right: -2.3px;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid $White;
                transform: rotate( 45deg );
            }
        }

    }

    li {
        cursor: pointer;
        padding: 15px 23px;
        width: fit-content;
        border-radius: 25px;
        color: $Dark-grayish-blue;
    }

    li:hover, li.active {
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        background-color: $Yellow;
        color: black;
    }

}

.content {
    text-align: center;
    display: grid;
    gap: 1.5rem;

    button {
        cursor: pointer;
        background: transparent;
        width: fit-content;
        padding: 0.2rem;
        border: none;
        margin: auto;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-weight: 800;
    }

    &[role=article] {
        padding: 3rem 0;
        button{
            position: relative;
            &::after {
                content: '';
                width: 100%;
                height: 8px;
                position: absolute;
                bottom: 2px;
                left: 0;
                border-radius: 43px;
                z-index: -1;
            }
        }
        &.transform {
            button{
                &::after {
                    background-color: fade-out($Yellow, .5);
                }
            }
        }
        
        &.stand-out {
            button{
                &::after {
                    background-color: fade-out($Soft-red, .5);
                }
            }    
        }

        p {
            color: $Dark-grayish-blue;
            padding: 0 31px;
            letter-spacing: 0.8px;
        }
    }
    h2 {
        max-width: 13ch;
        margin: auto;
        text-align: center;
        font-weight: 900;
        font-size: 2rem;
        word-spacing: 5px;
    }

    h3 {
        font-size: 1.7rem;
        text-transform: capitalize;
    }

    &[role=region] {
        position: relative;

        .sub-article {
            position: absolute;
            bottom: 0;
            display: grid;
            gap: 2.3rem;
            padding: 4.4rem 1.3rem;
        }

        .graphic-design {
            h3, p {
                color: $Dark-desaturated-cyan;
            }
        }

        .photography {
            h3, p {
                color: $Dark-blue;
            }
        }
    }

    
}

.testimonials {
    padding-top: 4rem;
    padding-bottom: 4rem;
    h3 {
        color: $Grayish-blue;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
    }

    .personInfo {
        display: grid;
        gap: 2rem;
        padding: 3.4rem 2.2rem 0;
        text-align: center;
        word-spacing: 1.1px;
        
        p {
            color: $Very-dark-grayish-blue;
        }

    }
    
    .footer{
        display: grid;
        gap: .5rem;
        h4 {
            color: black;
            font-weight: 900;
        }

        
    
        small {
            color: $Dark-grayish-blue;
        }
        
    }

    .imageWrapper {
        width: 80px;
        margin: auto;

        img {
            border-radius: 50%;
        }
    }
}

footer {
    background-color: fade-out($Dark-moderate-cyan, .5);

    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-icon {
        padding-top: 4rem;
        width: 200px;
        display: block;
        margin: auto;
    }

    ul {
        padding-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        li {
            cursor: pointer;
            letter-spacing: 1px;
            list-style: none;
            color: $Dark-moderate-cyan;

            &:hover {
                color: $White;
            }
        }
    }
    .icons {
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: flex;
        gap: 2rem;
        justify-content: center;

        img {
            width: 20px;
            cursor: pointer;

            &:hover {
                color: $White;
            }
        }
    }
}

// @media (min-width: 550px) {
//     .landing h1 {
//         font-size: 4rem;
//         top: 70px;
//     }
// }

@media (min-width: 720px) {
    .landing h1 {
        top:  8rem;
    }   

    

    .content{
        gap: 3.5rem;
        &[role=article] {
            padding: 5rem 0;
        }

        p {
            max-width: 65ch;
            margin: auto;
        }

        &[role=region] .sub-article {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .testimonials .personInfo p  {
        max-width: 65ch;
        margin: auto;
    }

    footer .images {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media (min-width: 1020px) {

    #hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        li {
            padding: 8px 22px;
            color: $White;
            font-size: 0.8rem;

            &.active, &:hover {
                cursor: pointer;
                background-color: fade-out($White, .5);
                color: $White;
                font-size: 0.8rem !important;
            }

            &.active, &.active:hover {
                color: black;
                background-color: $White !important;
            }

        }
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &:first-child {
            img {
                grid-column: 2;
                grid-row: 1;
            }
            div {
                grid-column: 1;
            }
        }
    }
    .content {
        gap: 1rem;
        &[role=article] {

            text-align: inherit;
            padding: 10rem 0;
            align-content: center;

            p {
                max-width: 57ch;
                margin-left: 4rem;
                line-height: 25px;
            }
        }

        h2 {
            margin-left: 6rem;
            text-align: left;
            max-width: 16ch;
        }

        button {
            margin-left: 6rem;
        }
    }

    .image-wrapper {
        min-height: 520px;
    }
    
    .people {
        display: flex;
        justify-content: space-around;

        &.personInfo {
            max-width: 440px;
        }
    }
}
