@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, button {
  font-family: 'Fraunces', serif;
  color: #23303e;
}

h1 {
  text-transform: uppercase;
  color: white;
}

img {
  width: 100%;
  background-size: cover;
  height: 100%;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.landing {
  margin-top: -1px;
}

.landing h1 {
  position: absolute;
  text-align: center;
  letter-spacing: 0.5rem;
  top: 120px;
  font-size: 40px;
  max-width: 13ch;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.landing h1::after {
  content: "";
  background-image: url(./../images/icon-arrow-down.svg);
  width: 36px;
  height: 114px;
  z-index: 5;
  position: absolute;
  left: calc(50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 164%;
}

.landing img {
  height: 463px;
  margin-bottom: -3px;
}

nav {
  background-color: #3ebfff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 1fr;
      grid-template-columns: 135px 1fr;
  padding: 1rem;
}

nav ul {
  display: none;
}

nav #hamburger {
  height: 16px;
  width: 20px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.content {
  text-align: center;
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.content button {
  background: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem;
  border: none;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 800;
}

.content[role=article] {
  padding: 3rem 0;
}

.content[role=article] button {
  position: relative;
}

.content[role=article] button::after {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 2px;
  left: 0;
  border-radius: 43px;
  z-index: -1;
}

.content[role=article].transform button::after {
  background-color: rgba(250, 212, 0, 0.5);
}

.content[role=article].stand-out button::after {
  background-color: rgba(254, 120, 103, 0.5);
}

.content[role=article] p {
  color: #818498;
  padding: 0 31px;
  letter-spacing: 0.8px;
}

.content h2 {
  width: 13ch;
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  word-spacing: 5px;
}

.content h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
}

.content[role=region] {
  position: relative;
}

.content[role=region] .sub-article {
  position: absolute;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  gap: 2.3rem;
  padding: 4.4rem 1.3rem;
}

.content[role=region] .graphic-design h3, .content[role=region] .graphic-design p {
  color: #25564b;
}

.content[role=region] .photography h3, .content[role=region] .photography p {
  color: #19536b;
}

.testimonials h3 {
  color: #a7abae;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4rem;
}

.testimonials .personInfo {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  padding: 3.4rem 2.2rem 0;
  text-align: center;
  word-spacing: 1.1px;
}

.testimonials .personInfo p {
  color: #5a636c;
}

.testimonials .footer {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
}

.testimonials .footer h4 {
  color: black;
  font-weight: 900;
}

.testimonials .footer small {
  color: #818498;
}

.testimonials .imageWrapper {
  width: 80px;
  margin: auto;
}

.testimonials .imageWrapper img {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */