@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, button {
  font-family: 'Fraunces', serif;
  color: #23303e;
}

h1 {
  text-transform: uppercase;
  color: white;
}

img {
  width: 100%;
  background-size: cover;
  height: 100%;
}

ul > li {
  list-style: none;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.landing {
  margin-top: -1px;
  background-color: #3ebfff;
}

.landing h1 {
  position: absolute;
  text-align: center;
  letter-spacing: 0.4rem;
  top: 135px;
  font-size: 40px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.landing h1::after {
  content: "";
  background-image: url(./../images/icon-arrow-down.svg);
  width: 36px;
  height: 114px;
  z-index: 5;
  position: absolute;
  left: calc(50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 150px;
}

.landing img {
  margin-bottom: -3px;
  display: block;
  margin: auto;
}

nav {
  background-color: #3ebfff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 1fr;
      grid-template-columns: 135px 1fr;
  padding: 1rem;
  position: relative;
}

nav #hamburger {
  height: 16px;
  width: 20px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav ul {
  display: none;
}

nav.active ul {
  position: absolute;
  width: calc(100% - 2rem);
  background: white;
  right: 1rem;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 4rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 420px;
}

nav.active ul::before {
  content: '';
  position: absolute;
  top: -19px;
  right: -2.3px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav li {
  cursor: pointer;
  padding: 15px 23px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px;
  color: #818498;
}

nav li:hover, nav li.active {
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  background-color: #fad400;
  color: black;
}

.content {
  text-align: center;
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.content button {
  cursor: pointer;
  background: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem;
  border: none;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 800;
}

.content[role=article] {
  padding: 3rem 0;
}

.content[role=article] button {
  position: relative;
}

.content[role=article] button::after {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 2px;
  left: 0;
  border-radius: 43px;
  z-index: -1;
}

.content[role=article].transform button::after {
  background-color: rgba(250, 212, 0, 0.5);
}

.content[role=article].stand-out button::after {
  background-color: rgba(254, 120, 103, 0.5);
}

.content[role=article] p {
  color: #818498;
  padding: 0 31px;
  letter-spacing: 0.8px;
}

.content h2 {
  max-width: 13ch;
  margin: auto;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  word-spacing: 5px;
}

.content h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
}

.content[role=region] {
  position: relative;
}

.content[role=region] .sub-article {
  position: absolute;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  gap: 2.3rem;
  padding: 4.4rem 1.3rem;
}

.content[role=region] .graphic-design h3, .content[role=region] .graphic-design p {
  color: #25564b;
}

.content[role=region] .photography h3, .content[role=region] .photography p {
  color: #19536b;
}

.testimonials {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.testimonials h3 {
  color: #a7abae;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

.testimonials .personInfo {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  padding: 3.4rem 2.2rem 0;
  text-align: center;
  word-spacing: 1.1px;
}

.testimonials .personInfo p {
  color: #5a636c;
}

.testimonials .footer {
  display: -ms-grid;
  display: grid;
  gap: .5rem;
}

.testimonials .footer h4 {
  color: black;
  font-weight: 900;
}

.testimonials .footer small {
  color: #818498;
}

.testimonials .imageWrapper {
  width: 80px;
  margin: auto;
}

.testimonials .imageWrapper img {
  border-radius: 50%;
}

footer {
  background-color: rgba(69, 140, 126, 0.5);
}

footer .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

footer .footer-icon {
  padding-top: 4rem;
  width: 200px;
  display: block;
  margin: auto;
}

footer ul {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  cursor: pointer;
  letter-spacing: 1px;
  list-style: none;
  color: #458c7e;
}

footer ul li:hover {
  color: white;
}

footer .icons {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .icons img {
  width: 20px;
  cursor: pointer;
}

footer .icons img:hover {
  color: white;
}

@media (min-width: 720px) {
  .landing h1 {
    top: 8rem;
  }
  .content {
    gap: 3.5rem;
  }
  .content[role=article] {
    padding: 5rem 0;
  }
  .content p {
    max-width: 65ch;
    margin: auto;
  }
  .content[role=region] .sub-article {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .testimonials .personInfo p {
    max-width: 65ch;
    margin: auto;
  }
  footer .images {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1020px) {
  #hamburger {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li {
    padding: 8px 22px;
    color: white;
    font-size: 0.8rem;
  }
  nav ul li.active, nav ul li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 0.8rem !important;
  }
  nav ul li.active, nav ul li.active:hover {
    color: black;
    background-color: white !important;
  }
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section:first-child img {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  section:first-child div {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .content {
    gap: 1rem;
  }
  .content[role=article] {
    text-align: inherit;
    padding: 10rem 0;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .content[role=article] p {
    max-width: 57ch;
    margin-left: 4rem;
    line-height: 25px;
  }
  .content h2 {
    margin-left: 6rem;
    text-align: left;
    max-width: 16ch;
  }
  .content button {
    margin-left: 6rem;
  }
  .image-wrapper {
    min-height: 520px;
  }
  .people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .people.personInfo {
    max-width: 440px;
  }
}
/*# sourceMappingURL=style.css.map */